<link rel="stylesheet" href="/css/home.css">


<% for (const it of task_list){ %>
<li class="list-item">
    <input type="checkbox" id="check1" class="input-check">
    <label for="check1">
        <div class="todo-div">
            <div class="note"><%=it.task%></div>
            <div class="completion-date"><i class="far fa-calendar-alt"></i> &nbsp;<%=it.date%></div>
        </div>
    </label>
    <div class="category"><%=it.category%></div>
    <div class="delete"><a href="/delete-task/?id=<%=it._id%>"><i class="fas fa-trash"></i></a></div>
</li>
<% } %>