<link rel="stylesheet" href="/css/home.css">
<li class="list-item">
    <input type="checkbox" id="check1" class="input-check">
    <label for="check1">
        <div class="todo-div">
            <div class="note">Wake up at 8:00AM</div>
            <div class="completion-date"><i class="far fa-calendar-alt"></i> &nbsp;June 20, 2020</div>
        </div>
    </label>
    <div class="category">School</div>
    <div class="delete"><i class="fas fa-trash"></i></div>
</li>


<li class="list-item">
    <input type="checkbox" id="check1" class="input-check">
    <label for="check1">
        <div class="todo-div">
            <div class="note">Wake up at 8:00AM</div>
            <div class="completion-date"><i class="far fa-calendar-alt"></i> &nbsp;June 20, 2020</div>
        </div>
    </label>
    <div class="category">School</div>
    <div class="delete"><i class="fas fa-trash"></i></div>
</li>

<li class="list-item">
    <input type="checkbox" id="check1" class="input-check">
    <label for="check1">
        <div class="todo-div">
            <div class="note">Wake up at 8:00AM</div>
            <div class="completion-date"><i class="far fa-calendar-alt"></i> &nbsp;June 20, 2020</div>
        </div>
    </label>
    <div class="category">School</div>
    <div class="delete"><i class="fas fa-trash"></i></div>
</li>

<li class="list-item">
    <input type="checkbox" id="check1" class="input-check">
    <label for="check1">
        <div class="todo-div">
            <div class="note">Wake up at 8:00AM</div>
            <div class="completion-date"><i class="far fa-calendar-alt"></i> &nbsp;June 20, 2020</div>
        </div>
    </label>
    <div class="category">School</div>
    <div class="delete"><i class="fas fa-trash"></i></div>
</li>

<li class="list-item">
    <input type="checkbox" id="check1" class="input-check">
    <label for="check1">
        <div class="todo-div">
            <div class="note">Wake up at 8:00AM</div>
            <div class="completion-date"><i class="far fa-calendar-alt"></i> &nbsp;June 20, 2020</div>
        </div>
    </label>
    <div class="category">School</div>
    <div class="delete"><i class="fas fa-trash"></i></div>
</li>