
.list-item{
    opacity: 1;
    transition : all 0.4s cubic-bezier(.36,-0.64,.34,1.76);
    /* background-color: whitesmoke; */
    margin: 2px 0px;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 5px 10px;
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid lightslategray;
}

.list-item:hover{
    background-color: gray !important;
    transform: scale(1.02);
}


.input-check:checked ~ label div{
    text-decoration: line-through;
}

label{
    width: 70%;
    box-sizing: border-box;
}

.delete{
    margin-left: auto;
}

.delete a{
    color: black;
}

.todo-div{
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

input[type=checkbox]{
    zoom: 1.1;
    border: 10px soild black;
    width: 18px;
    height: 18px;
}

.completion-date{
    color: black;
}

.category{
    width: 100%;
    text-align: center;
    background-color: green;
    border: 1px solid black;
    color: white;
    font-weight: normal;
    font-size: 0.8em;
    padding: 8px;
}

.state,.id,.completion-date-raw{
    display: none;
}

.deadline-category-div{
    display: flex;
    flex-direction: column;
    width: 15%;
    align-items: center;
}

.deadline{
    display: none;
    margin-top: 2px;
    width: 100%;
    border: 1px solid black;
    color: white;
    background-color: red;
    font-size: 0.6em;
    text-align: center;
    padding: 2px;
    font-weight: normal;
}

@media screen and (max-width:768px){
    .list-item{
        font-size: 20px;
    }
    label{
        width: 99%;
    }
    .list-item{
        flex-direction: column;
        align-items: flex-start;
    }
    .deadline-category-div{
        width: 30%;
        align-self: center;
    }
    .delete{
        margin-left: 8px;
    }
}